@font-face {
  font-family: 'themify';
  src: url("../fonts/themify/themify.eot?-fvbane");
  src: url("../fonts/themify/themify.eot?#iefix-fvbane") format("embedded-opentype"), url("../fonts/themify/themify.woff?-fvbane") format("woff"), url("../fonts/themify/themify.ttf?-fvbane") format("truetype"), url("../fonts/themify/themify.svg?-fvbane#themify") format("svg");
  font-weight: normal;
  font-style: normal; }
body {
  font-family: "Anonymous Pro", sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: #2A6188;
  font-weight: 300;
  letter-spacing: .05em;
  background: #EEF4F9;
  border: 20px solid #fff; }
  @media screen and (max-width: 768px) {
    body {
      border: 10px solid #fff; } }
  body .border-all-top {
    border-top: 20px solid #fff;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 103; }
    @media screen and (max-width: 768px) {
      body .border-all-top {
        border-top: 10px solid #fff; } }
  body .border-all-bottom {
    border-bottom: 20px solid #fff;
    width: 100vw;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 103; }
    @media screen and (max-width: 768px) {
      body .border-all-bottom {
        border-bottom: 10px solid #fff; } }
  body .border-all-right {
    border-right: 20px solid #fff;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 103; }
    @media screen and (max-width: 768px) {
      body .border-all-right {
        border-right: 10px solid #fff; } }
  body .border-all-left {
    border-left: 20px solid #fff;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 103; }
    @media screen and (max-width: 768px) {
      body .border-all-left {
        border-left: 10px solid #fff; } }

::-webkit-selection {
  color: #ffffff;
  background: #EE0072; }

::-moz-selection {
  color: #ffffff;
  background: #EE0072; }

::selection {
  color: #ffffff;
  background: #EE0072; }

a {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #EE0072;
  border-bottom: 2px solid transparent; }
  a:hover, a:active, a:focus {
    color: #EE0072;
    outline: none;
    text-decoration: none; }
  a:hover {
    color: #2A6188;
    border-bottom: 2px solid #EE0072; }

figure.dap-with-caption {
  float: left;
  width: 100%;
  margin: 0;
  padding: 0; }
  figure.dap-with-caption img {
    margin-bottom: 0 !important; }
  figure.dap-with-caption figcaption {
    font-style: italic;
    font-size: 14px;
    margin-bottom: 20px;
    color: #2A6188; }

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  margin: 0 0 20px 0;
  padding: 0;
  font-family: "Anonymous Pro", sans-serif;
  font-weight: 400;
  color: #122A3B; }

h1, .h1 {
  font-size: 60px;
  line-height: 72px; }
  @media screen and (max-width: 768px) {
    h1, .h1 {
      font-size: 50px;
      line-height: 62px; } }

h2, .h2 {
  font-size: 50px;
  line-height: 68px; }
  @media screen and (max-width: 768px) {
    h2, .h2 {
      font-size: 40px;
      line-height: 58px; } }

h3, .h3 {
  font-size: 40px;
  line-height: 52px; }
  @media screen and (max-width: 768px) {
    h3, .h3 {
      font-size: 30px;
      line-height: 42px; } }

h4, .h4 {
  font-size: 30px;
  line-height: 42px; }
  @media screen and (max-width: 768px) {
    h4, .h4 {
      font-size: 20px;
      line-height: 32px; } }

h5, .h5 {
  font-size: 20px;
  line-height: 34px; }

h6, .h6 {
  font-size: 16px;
  line-height: 24px; }

ul, ol {
  padding-left: 15px;
  line-height: 26px;
  margin-left: 15px; }
  ul ul, ul ol, ol ul, ol ol {
    padding-left: 25px; }

p, img {
  margin: 0 0 20px 0; }

ul, ol {
  padding-left: 15px;
  line-height: 24px; }
  ul ul, ul ol, ol ul, ol ol {
    padding-left: 25px; }

pre {
  white-space: pre-wrap;
  /* CSS3 browsers  */
  white-space: -moz-pre-wrap !important;
  /* 1999+ Mozilla  */
  white-space: -pre-wrap;
  /* Opera 4 thru 6 */
  white-space: -o-pre-wrap;
  /* Opera 7 and up */
  word-wrap: break-word;
  /* IE 5.5+ and up */
  /* overflow-x: auto; */
  /* Firefox 2 only */
  /* width: 99%; */
  /* only if needed */ }

pre {
  width: 100%;
  overflow: auto;
  margin: 2rem 0;
  padding: 1rem 0.8rem 1rem 1.2rem;
  color: #3f3b36;
  border: 1px solid #ebebeb !important;
  font: lighter 1.2rem/2rem Monaco,'MonacoRegular',monospace;
  background: url(../images/pre.png) repeat 0 -0.9rem;
  background-size: 1px 4rem; }

#dap-header {
  margin-top: 5em;
  margin-bottom: 5em; }
  @media screen and (max-width: 768px) {
    #dap-header {
      margin-top: 1em; } }
  #dap-header #dap-logo {
    float: left;
    position: relative;
    z-index: 102;
    display: block; }
    #dap-header #dap-logo a {
      -webkit-transition: none;
      -moz-transition: none;
      -ms-transition: none;
      -o-transition: none;
      transition: none;
      border-bottom: none; }
    #dap-header #dap-logo a:hover {
      border-bottom: none; }
    @media screen and (max-width: 768px) {
      #dap-header #dap-logo svg {
        width: 60px;
        margin-top: -10px; } }

#dap-main-nav {
  position: relative;
  margin-top: 24px; }
  #dap-main-nav #dap-nav {
    position: relative;
    width: 100%; }
  @media screen and (max-width: 768px) {
    #dap-main-nav {
      text-align: left;
      margin-top: 70px; } }
  #dap-main-nav ul {
    padding: 0;
    margin: 0 0 7px 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: right;
    padding-right: 10px; }
    @media screen and (max-width: 992px) {
      #dap-main-nav ul {
        text-align: right;
        width: 100%;
        margin-left: inherit;
        margin-right: inherit; } }
    @media screen and (max-width: 768px) {
      #dap-main-nav ul {
        text-align: right;
        margin-left: inherit;
        margin-right: inherit; } }
    #dap-main-nav ul > li {
      padding: 0;
      margin: 0 0 7px 0;
      list-style: none;
      display: inline-block; }
      #dap-main-nav ul > li.dap-active a {
        color: #2A6188;
        border-bottom: 2px solid #EE0072; }
      #dap-main-nav ul > li:last-child {
        margin: 0; }
      @media screen and (max-width: 768px) {
        #dap-main-nav ul > li {
          display: block; } }
      #dap-main-nav ul > li > a {
        padding: 5px 0;
        margin: 0  10px;
        color: #2A6188;
        border-bottom: 2px solid transparent; }
        @media screen and (max-width: 768px) {
          #dap-main-nav ul > li > a {
            margin: 0  0px; } }
        #dap-main-nav ul > li > a:hover, #dap-main-nav ul > li > a:active, #dap-main-nav ul > li > a:focus {
          color: #2A6188;
          border-bottom: 2px solid #EE0072; }
  #dap-main-nav .dap-nav-call-to-action {
    position: absolute;
    right: 0;
    top: 0;
    text-align: right; }
    @media screen and (max-width: 768px) {
      #dap-main-nav .dap-nav-call-to-action {
        position: relative;
        top: 0px;
        text-align: right;
        display: inline-block;
        float: right; } }

#dap-intro {
  margin-bottom: 2em; }
  @media screen and (max-width: 768px) {
    #dap-intro {
      margin-bottom: 1em; } }
  #dap-intro h1 {
    font-size: 72px;
    color: #122A3B;
    line-height: 1.2; }
    @media screen and (max-width: 768px) {
      #dap-intro h1 {
        font-size: 40px; } }
  #dap-intro .dap-intro-sub {
    margin: 2em 0; }
    @media screen and (max-width: 768px) {
      #dap-intro .dap-intro-sub {
        margin: 1em 0; } }

#dap-work .dap-work-wrap {
  position: relative;
  margin-bottom: 30px; }
#dap-work .dap-work-item {
  position: relative;
  display: block;
  float: left;
  width: 100%;
  height: 100%;
  border-bottom: none !important; }
  #dap-work .dap-work-item img {
    margin: 0 auto;
    padding: 0; }
  #dap-work .dap-work-item:hover, #dap-work .dap-work-item:focus, #dap-work .dap-work-item:active {
    border-bottom: none !important; }
  #dap-work .dap-work-item .dap-overlay-text,
  #dap-work .dap-work-item .dap-overlay-bg {
    position: absolute;
    opacity: 0; }
  #dap-work .dap-work-item .dap-overlay-bg {
    background: rgba(238, 244, 249, 0.9);
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    z-index: 55; }
  #dap-work .dap-work-item .dap-overlay-text {
    text-align: center;
    top: 50%;
    margin-top: -36px;
    z-index: 56;
    width: 100%;
    padding: 0 30px;
    margin-left: auto;
    margin-right: auto;
    display: block; }
    #dap-work .dap-work-item .dap-overlay-text h2 {
      padding: 0 !important;
      margin: 0 !important;
      color: #122A3B;
      font-size: 18px !important;
      line-height: 20px !important; }
    #dap-work .dap-work-item .dap-overlay-text .dap-categories {
      text-align: center;
      width: 100%;
      padding: 0;
      margin: 0; }
      #dap-work .dap-work-item .dap-overlay-text .dap-categories li {
        padding: 0;
        margin: 0;
        list-style: none;
        display: inline;
        font-size: 11px;
        color: #2A6188; }
        #dap-work .dap-work-item .dap-overlay-text .dap-categories li::after {
          content: ","; }
        #dap-work .dap-work-item .dap-overlay-text .dap-categories li:last-child::after {
          content: ""; }

.dap-nav-toggle {
  width: 25px;
  height: 25px;
  cursor: pointer;
  text-decoration: none; }
  .dap-nav-toggle.active i::before, .dap-nav-toggle.active i::after {
    background: #2e2e2e; }
  .dap-nav-toggle:hover, .dap-nav-toggle:focus, .dap-nav-toggle:active {
    outline: none;
    border-bottom: none !important; }
  .dap-nav-toggle i {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 3px;
    color: #252525;
    font: bold 14px/.4 Helvetica;
    text-transform: uppercase;
    text-indent: -55px;
    background: #252525;
    transition: all .2s ease-out; }
    .dap-nav-toggle i::before, .dap-nav-toggle i::after {
      content: '';
      width: 25px;
      height: 3px;
      background: #252525;
      position: absolute;
      left: 0;
      transition: all .2s ease-out; }
  .dap-nav-toggle.dap-nav-white > i {
    color: #ffffff;
    background: #ffffff; }
    .dap-nav-toggle.dap-nav-white > i::before, .dap-nav-toggle.dap-nav-white > i::after {
      background: #ffffff; }

.dap-nav-toggle i::before {
  top: -7px; }

.dap-nav-toggle i::after {
  bottom: -7px; }

.dap-nav-toggle:hover i::before {
  top: -10px; }

.dap-nav-toggle:hover i::after {
  bottom: -10px; }

.dap-nav-toggle.active i {
  background: transparent; }

.dap-nav-toggle.active i::before {
  top: 0;
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  transform: rotateZ(45deg); }

.dap-nav-toggle.active i::after {
  bottom: 0;
  -webkit-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg); }

.dap-nav-toggle {
  position: absolute;
  top: 50px;
  right: 50px;
  z-index: 21;
  display: block;
  margin: 0 auto;
  display: none; }
  @media screen and (max-width: 768px) {
    .dap-nav-toggle {
      display: block; } }

.dap-sidebar-nav ul {
  padding: 0;
  margin: 0; }
  .dap-sidebar-nav ul li {
    padding: 0;
    margin: 0 0 .5em 0;
    line-height: 24px;
    list-style: none; }
    .dap-sidebar-nav ul li a {
      display: block;
      float: left;
      width: 100%;
      margin-bottom: 10px; }
.dap-sidebar-nav .dap-sidebar-nav-desc {
  font-size: 14px;
  color: #ccc !important;
  line-height: 20px;
  display: block;
  cursor: pointer; }
.dap-sidebar-nav a:hover .dap-sidebar-nav-desc {
  color: #2e2e2e !important; }

#dap-footer {
  padding-bottom: 2em; }
  @media screen and (max-width: 768px) {
    #dap-footer {
      padding-bottom: 1em; } }
  #dap-footer .dap-footer-social {
    padding: 0;
    margin: 0 0 2em 0; }
    #dap-footer .dap-footer-social li {
      display: inline;
      font-size: 16px;
      list-style: none;
      padding: 0;
      margin: 0; }
      @media screen and (max-width: 480px) {
        #dap-footer .dap-footer-social li {
          display: block;
          margin-bottom: 10px; } }
      #dap-footer .dap-footer-social li a {
        color: #2A6188;
        padding: 4px 0;
        margin: 0 10px 0 0; }
  #dap-footer .dap-copyright {
    color: #2A6188;
    font-size: 15px; }

.dap-more-works {
  display: none; }

.dap-view {
  text-align: center; }
  .dap-view .dap-icon-view {
    line-height: 0;
    margin-bottom: 10px;
    display: block;
    color: #2A6188;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    .dap-view .dap-icon-view i {
      font-size: 30px; }
  .dap-view.active .dap-icon-view {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg); }

/* Owl Override Style */
.owl-carousel .owl-controls,
.owl-carousel-posts .owl-controls {
  margin-top: 0; }

.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel-posts .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
  top: 50%;
  margin-top: -29px;
  z-index: 9999;
  position: absolute;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }

.owl-carousel-posts .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
  top: 24%; }

.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-next {
  right: -40px; }
  .owl-carousel .owl-controls .owl-nav .owl-next:hover,
  .owl-carousel-posts .owl-controls .owl-nav .owl-next:hover {
    margin-right: -10px; }

.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
  left: -40px; }
  .owl-carousel .owl-controls .owl-nav .owl-prev:hover,
  .owl-carousel-posts .owl-controls .owl-nav .owl-prev:hover {
    margin-left: -10px; }

.owl-carousel-posts .owl-controls .owl-nav .owl-next {
  right: -50px; }
  @media screen and (max-width: 768px) {
    .owl-carousel-posts .owl-controls .owl-nav .owl-next {
      right: 0px; } }

.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
  left: -50px; }
  @media screen and (max-width: 768px) {
    .owl-carousel-posts .owl-controls .owl-nav .owl-prev {
      left: 0px; } }

.owl-carousel-posts .owl-controls .owl-nav .owl-next i,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-next i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-prev i {
  color: #2e2e2e; }
.owl-carousel-posts .owl-controls .owl-nav .owl-next:hover i,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev:hover i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-next:hover i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-prev:hover i {
  color: #122A3B; }

.owl-carousel-fullwidth.dap-light-arrow .owl-controls .owl-nav .owl-next i,
.owl-carousel-fullwidth.dap-light-arrow .owl-controls .owl-nav .owl-prev i {
  color: #ffffff; }
.owl-carousel-fullwidth.dap-light-arrow .owl-controls .owl-nav .owl-next:hover i,
.owl-carousel-fullwidth.dap-light-arrow .owl-controls .owl-nav .owl-prev:hover i {
  color: #ffffff; }

@media screen and (max-width: 768px) {
  .owl-theme .owl-controls .owl-nav {
    display: none; } }

.owl-theme .owl-controls .owl-nav [class*="owl-"] {
  background: none !important; }
  .owl-theme .owl-controls .owl-nav [class*="owl-"] i {
    font-size: 30px; }
    .owl-theme .owl-controls .owl-nav [class*="owl-"] i:hover, .owl-theme .owl-controls .owl-nav [class*="owl-"] i:focus {
      background: none !important; }
  .owl-theme .owl-controls .owl-nav [class*="owl-"]:hover, .owl-theme .owl-controls .owl-nav [class*="owl-"]:focus {
    background: none !important; }

.owl-theme .owl-dots {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center; }

.owl-carousel-fullwidth.owl-theme .owl-dots {
  bottom: 0;
  margin-bottom: -2.5em; }

.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  background: #ccc;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border: 2px solid transparent; }
  .owl-theme .owl-dots .owl-dot span:hover {
    background: none;
    border: 2px solid #EE0072; }

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: none;
  border: 2px solid #EE0072; }

.quote {
  width: 75%;
  margin: 0 auto;
  font-size: 28px;
  line-height: 38px; }
  .quote cite {
    margin-top: 20px;
    display: block;
    font-size: 20px;
    font-style: normal; }
  @media screen and (max-width: 768px) {
    .quote {
      font-size: 20px;
      width: 100%; } }

#map {
  width: 100%;
  height: 400px; }

/* Buttons */
.btn {
  font-family: "Anonymous Pro", sans-serif;
  border-bottom: none !important;
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 1.5; }
  .btn:hover, .btn:focus, .btn:active {
    box-shadow: none;
    outline: none !important;
    border-color: transparent; }
  .btn.dap-btn-icon {
    text-transform: none !important;
    letter-spacing: normal !important;
    padding-left: 15px;
    padding-right: 15px; }
  .btn.btn-lg {
    padding: 30px; }
  .btn.btn-md {
    padding: 15px; }
  .btn.btn-sm {
    padding: 12px; }
  .btn.btn-xs {
    padding: 10px; }

.btn-outline {
  border: 2px solid #eaeaea !important;
  background: transparent;
  color: #2a2e37; }
  .btn-outline:hover, .btn-outline:active, .btn-outline:focus {
    border: 2px solid #282e3c !important;
    background: #282e3c;
    color: #ffffff; }

.btn-primary {
  background: #EE0072;
  border: 2px solid #EE0072; }
  .btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background: #ca0061; }

.btn-success {
  background: #00e195;
  border: 2px solid #00e195; }
  .btn-success:hover, .btn-success:active, .btn-success:focus {
    background: #00bd7d; }

.btn-danger {
  background: #e02745;
  border: 2px solid #e02745; }
  .btn-danger:hover, .btn-danger:active, .btn-danger:focus {
    background: #c71d38; }

.btn-info {
  background: #0bbff2;
  border: 2px solid #0bbff2; }
  .btn-info:hover, .btn-info:active, .btn-info:focus {
    background: #09a4d0; }

.btn-warning {
  background: #ffd042;
  border: 2px solid #ffd042; }
  .btn-warning:hover, .btn-warning:active, .btn-warning:focus {
    background: #ffc71e; }

.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger {
  border-color: transparent; }

.form-control {
  box-shadow: none !important;
  border: 2px solid #ccc; }
  .form-control:hover, .form-control:focus, .form-control:active {
    outline: none;
    box-shadow: none !important;
    border: 2px solid #EE0072; }

.dap-spacer {
  clear: both;
  position: relative;
  border: none;
  padding: 0;
  margin: 0; }

.dap-spacer-xlg {
  height: 150px; }
  @media screen and (max-width: 768px) {
    .dap-spacer-xlg {
      height: 80px; } }

.dap-spacer-lg {
  height: 100px; }
  @media screen and (max-width: 768px) {
    .dap-spacer-lg {
      height: 70px; } }

.dap-spacer-md {
  height: 80px; }
  @media screen and (max-width: 768px) {
    .dap-spacer-md {
      height: 50px; } }

.dap-spacer-sm {
  height: 50px; }
  @media screen and (max-width: 768px) {
    .dap-spacer-sm {
      height: 20px; } }

.dap-spacer-xs {
  height: 30px; }
  @media screen and (max-width: 768px) {
    .dap-spacer-xs {
      height: 20px; } }

.dap-spacer-xxs {
  height: 30px; }

.dap-letter-spacing {
  letter-spacing: 1px; }

.dap-no-margin-bottom {
  margin-bottom: 0 !important; }

.dap-uppercase-heading-sm {
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #ccc; }
  .dap-uppercase-heading-sm.with-border {
    position: relative;
    padding-bottom: 10px; }
    .dap-uppercase-heading-sm.with-border .dap-border {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 30px;
      height: 2px;
      background: #EE0072; }

.form-group {
  margin-bottom: 20px; }

.image-popup:hover {
  opacity: .7; }

.dap-call-to-action {
  background-color: #EE0072;
  background-size: cover;
  background-attachment: fixed;
  position: relative; }
  .dap-call-to-action h3 {
    color: #ffffff !important; }
  .dap-call-to-action .dap-call-to-action-text {
    font-size: 50px;
    line-height: 60px;
    font-family: "Anonymous Pro", sans-serif;
    text-transform: uppercase; }
  .dap-call-to-action .btn {
    margin-bottom: 0 !important;
    padding-left: 50px;
    padding-right: 50px;
    color: #ffffff !important; }
  .dap-call-to-action > .dap-overlay {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.5); }
  .dap-call-to-action .dap-call-to-action-wrap {
    position: relative;
    padding: 50px 0;
    display: table;
    width: 100%; }
    .dap-call-to-action .dap-call-to-action-wrap .dap-call-to-action-inner {
      display: table-cell;
      vertical-align: middle;
      font-size: 50px;
      line-height: 62px;
      color: #ffffff;
      width: 100%; }

/* Accordions */
.dap-accordion .panel-title > a:hover {
  border-bottom: none !important; }
.dap-accordion .panel-heading {
  background: transparent;
  position: relative;
  cursor: pointer; }
  .dap-accordion .panel-heading .accordion-toggle {
    color: #EE0072; }
    .dap-accordion .panel-heading .accordion-toggle:after {
      font-family: 'themify';
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      color: #2e2e2e !important;
      position: absolute;
      content: "\e622";
      right: 15px;
      top: 16px; }
  .dap-accordion .panel-heading.collapsed .accordion-toggle {
    color: #2e2e2e !important; }
    .dap-accordion .panel-heading.collapsed .accordion-toggle:after {
      font-family: 'themify';
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      color: #2e2e2e !important;
      position: absolute;
      content: "\e61a";
      right: 15px;
      top: 16px; }

/* Progress Bars */
.progress {
  height: 10px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  box-shadow: none; }

.progress-bar {
  box-shadow: none;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px; }
  .progress-bar.progress-bar-default {
    background: #EE0072; }
  .progress-bar.progress-bar-success {
    background: #00e195; }
  .progress-bar.progress-bar-info {
    background: #0bbff2; }
  .progress-bar.progress-bar-warning {
    background: #ffd042; }
  .progress-bar.progress-bar-danger {
    background: #e02745; }

img.dap-align-right {
  float: right;
  margin: 0 0 .5em 1em; }
  @media screen and (max-width: 480px) {
    img.dap-align-right {
      width: 100%;
      margin: 0 0 .5em 0; } }
img.dap-align-left {
  float: left;
  margin: 0 1em .5em 0; }
  @media screen and (max-width: 480px) {
    img.dap-align-left {
      width: 100%;
      margin: 0 0 .5em 0; } }
img.dap-align-center {
  display: block;
  margin-left: auto;
  margin-right: auto; }

a > img.dap-align-right {
  float: right;
  margin: 0 0 .5em 1em; }
  @media screen and (max-width: 480px) {
    a > img.dap-align-right {
      width: 100%;
      margin: 0 0 .5em 0; } }
a > img.dap-align-left {
  float: left;
  margin: 0 1em .5em 0; }
  @media screen and (max-width: 480px) {
    a > img.dap-align-left {
      width: 100%;
      margin: 0 0 .5em 0; } }
a > img.dap-align-center {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.dap-gotop {
  position: fixed;
  bottom: 50px;
  right: 80px;
  display: none;
  color: #ffffff !important;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 6px;
  z-index: 60; }
  .dap-gotop > i {
    position: relative;
    display: block;
    font-size: 20px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg); }

/* Easy Rsponsive Tabs */
.dap-tab {
  clear: both;
  display: block; }

.dap-tab h2 {
  line-height: 3 !important; }

.resp-tab-active {
  color: #EE0072; }

.resp-tabs-list li {
  font-family: "Anonymous Pro", sans-serif; }

.resp-content-active, .resp-accordion-active {
  display: block; }

.dap-tab-menu-icon {
  font-size: 20px;
  position: relative;
  float: left;
  margin-right: 10px; }
  @media screen and (max-width: 768px) {
    .dap-tab-menu-icon {
      margin-top: 0px; } }

/* Pricing Tables */
.dap-pricing-table-1 {
  font-family: "Anonymous Pro", sans-serif; }
  @media screen and (max-width: 992px) {
    .dap-pricing-table-1 .dap-pricing-table-item {
      margin-bottom: 20px !important; } }
  @media screen and (max-width: 768px) {
    .dap-pricing-table-1 .dap-pricing-table-item {
      margin-bottom: 20px !important;
      float: left;
      width: 100%; } }
  .dap-pricing-table-1 .dap-pricing-table-item .dap-pricing-table-item-body,
  .dap-pricing-table-1 .dap-pricing-table-item .dap-pricing-table-item-heading {
    text-align: center;
    float: left;
    width: 100%;
    padding: 1em 2em; }
  .dap-pricing-table-1 .dap-pricing-table-item .dap-pricing-table-item-heading {
    background: #EE0072; }
    .dap-pricing-table-1 .dap-pricing-table-item .dap-pricing-table-item-heading h3 {
      font-size: 70px;
      position: relative;
      display: inline-block;
      color: #ffffff !important; }
      .dap-pricing-table-1 .dap-pricing-table-item .dap-pricing-table-item-heading h3 sup {
        position: absolute;
        top: 2px;
        margin-left: -7px; }
      .dap-pricing-table-1 .dap-pricing-table-item .dap-pricing-table-item-heading h3 sup, .dap-pricing-table-1 .dap-pricing-table-item .dap-pricing-table-item-heading h3 span {
        font-size: 14px;
        text-transform: uppercase; }
    .dap-pricing-table-1 .dap-pricing-table-item .dap-pricing-table-item-heading p {
      color: rgba(255, 255, 255, 0.6);
      font-size: 14px;
      letter-spacing: 3px;
      text-transform: uppercase; }
  .dap-pricing-table-1 .dap-pricing-table-item.dap-best-offer .dap-pricing-table-item-heading {
    background: #EE0072;
    color: #ffffff; }
  .dap-pricing-table-1 .dap-pricing-table-item .dap-pricing-table-item-body {
    border: 2px solid #ccc;
    border-top: none; }
    .dap-pricing-table-1 .dap-pricing-table-item .dap-pricing-table-item-body ul {
      padding: 0;
      margin: 0; }
      .dap-pricing-table-1 .dap-pricing-table-item .dap-pricing-table-item-body ul li {
        list-style: none;
        padding: 0;
        margin: 0 0 10px 0; }
  .dap-pricing-table-1 .dap-pricing-table-item.dap-best-offer .dap-pricing-table-item-body {
    border: 2px solid #EE0072;
    border-top: none; }

.dap-no-margin-bottom {
  margin-bottom: 0 !important; }

.dap-letter-space {
  letter-spacing: 4px; }

.dap-link {
  font-family: "Anonymous Pro", sans-serif; }
  .dap-link > i {
    margin-right: 5px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }
  .dap-link:hover > i {
    margin-right: 15px; }

.dap-btn-other-option {
  float: left;
  margin-right: 10px; }

.dap-other-option {
  margin-top: 12px;
  display: inline-block;
  float: left; }
  .dap-other-option .dap-or {
    margin-left: 10px;
    margin-right: 10px; }

.dap-uppercase-heading-sm {
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #2A6188; }

/*# sourceMappingURL=style.css.map */
