@font-face {
font-family:museo-rounded;
font-weight:300;
font-style:normal;
src:url(https://static.sumup.com/fonts/western-latin/MuseoSansRounded-300-webfont.eot);
src:url(https://static.sumup.com/fonts/western-latin/MuseoSansRounded-300-webfont.eot?#iefix) format("embedded-opentype"),url(https://static.sumup.com/fonts/western-latin/MuseoSansRounded-300-webfont.woff) format("woff"),url(https://static.sumup.com/fonts/western-latin/MuseoSansRounded-300-webfont.ttf) format("truetype"),url(https://static.sumup.com/fonts/western-latin/MuseoSansRounded-300-webfont.svg#museo-rounded) format("svg")
}

@font-face {
font-family:museo-rounded;
font-weight:500;
font-style:normal;
src:url(https://static.sumup.com/fonts/western-latin/MuseoSansRounded-500-webfont.eot);
src:url(https://static.sumup.com/fonts/western-latin/MuseoSansRounded-500-webfont.eot?#iefix) format("embedded-opentype"),url(https://static.sumup.com/fonts/western-latin/MuseoSansRounded-500-webfont.woff) format("woff"),url(https://static.sumup.com/fonts/western-latin/MuseoSansRounded-500-webfont.ttf) format("truetype"),url(https://static.sumup.com/fonts/western-latin/MuseoSansRounded-500-webfont.svg#museo-rounded) format("svg")
}

body {
color:#47494D;
background-color:transparent;
font-family:"museo-rounded";
font-weight:300
}

.row {
margin:0 auto
}

.container {
padding:0
}

.nav {
margin-bottom:15px
}

.nav .nav-item {
border-right-color:#c3bcba;
fill:#47494D
}

.nav svg {
margin-bottom:-5px;
display:none
}

.device-image {
display:none
}

input {
-webkit-appearance:none;
-moz-appearance:none;
appearance:none;
margin-bottom:15px
}

input,textarea {
-webkit-appearance:none;
-moz-appearance:none;
appearance:none;
padding:16px!important
}

.form-wrapper input,.form-wrapper textarea {
background:#FFF;
border:1px solid #E5E5E5;
-webkit-border-radius:3px;
-moz-border-radius:3px;
border-radius:3px;
height:50px;
font-size:16px
}

input:focus,textarea:focus {
border:1px solid #5C8BCC;
outline:none
}

.form-wrapper input::-webkit-input-placeholder {
color:#CCC
}

.form-wrapper input:-moz-placeholder {
color:#CCC
}

.form-wrapper input::-moz-placeholder {
color:#CCC
}

.form-wrapper input:-ms-input-placeholder {
color:#CCC
}

.import-contacts,span.form-title {
font-size:14px;
text-align:left;
margin-top:30px
}

.contact-cta.thankyou-message.fb-malleable {
margin-top:50px;
text-align:center;
font-size:18px
}

a {
color:#52CCA7
}

a:hover {
color:#41A386
}

#footer {
color:#47494D
}

.light .header {
color:#fff
}

.dark .header {
color:#000
}

.steel .form-wrapper button {
background:#52CCA7;
-webkit-border-radius:3px;
-moz-border-radius:3px;
border-radius:3px;
color:#fff;
font-size:16px;
height:50px;
display:block
}

.steel .nav .nav-item.active {
color:#52CCA7;
fill:#52CCA7;
border-bottom-color:#52CCA7
}

.steel .form-wrapper button:hover {
background:#41A386
}

.red-cross .nav,.red-cross .form-wrapper button {
background:-moz-linear-gradient(#ff2d2d,#d90707);
background:-webkit-linear-gradient(#ff2d2d,#d90707);
background:-o-linear-gradient(#ff2d2d,#d90707);
background:-ms-linear-gradient(#ff2d2d,#d90707);
background:linear-gradient(#ff2d2d,#d90707);
filter:progid: DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ff2d2d',endColorstr='#d90707');
height:1%
}

.red-cross .nav .nav-item.active,.red-cross .nav .nav-item:hover,.red-cross .form-wrapper button:hover {
background:#d10808
}

.maytag .nav,.maytag .form-wrapper button {
background:-moz-linear-gradient(#268bf9,#0065d3);
background:-webkit-linear-gradient(#268bf9,#0065d3);
background:-o-linear-gradient(#268bf9,#0065d3);
background:-ms-linear-gradient(#268bf9,#0065d3);
background:linear-gradient(#268bf9,#0065d3);
filter:progid: DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#268bf9',endColorstr='#0065d3');
height:1%
}

.maytag .nav .nav-item.active,.maytag .nav .nav-item:hover,.maytag .form-wrapper button:hover {
background:#0761c3
}

.bubble-gum .nav,.bubble-gum .form-wrapper button {
background:-moz-linear-gradient(#f576c4,#d0519f);
background:-webkit-linear-gradient(#f576c4,#d0519f);
background:-o-linear-gradient(#f576c4,#d0519f);
background:-ms-linear-gradient(#f576c4,#d0519f);
background:linear-gradient(#f576c4,#d0519f);
filter:progid: DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#f576c4',endColorstr='#d0519f');
height:1%
}

.bubble-gum .nav .nav-item.active,.bubble-gum .nav .nav-item:hover,.bubble-gum .form-wrapper button:hover {
background:#df3aa0
}

.grape-soda .nav,.grape-soda .form-wrapper button {
background:-moz-linear-gradient(#875678,#623153);
background:-webkit-linear-gradient(#875678,#623153);
background:-o-linear-gradient(#875678,#623153);
background:-ms-linear-gradient(#875678,#623153);
background:linear-gradient(#875678,#623153);
filter:progid: DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#875678',endColorstr='#623153');
height:1%
}

.grape-soda .nav .nav-item.active,.grape-soda .nav .nav-item:hover,.grape-soda .form-wrapper button:hover {
background:#59314d
}

.espresso .nav,.espresso .form-wrapper button {
background:-moz-linear-gradient(#7f5c51,#59362b);
background:-webkit-linear-gradient(#7f5c51,#59362b);
background:-o-linear-gradient(#7f5c51,#59362b);
background:-ms-linear-gradient(#7f5c51,#59362b);
background:linear-gradient(#7f5c51,#59362b);
filter:progid: DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#7f5c51',endColorstr='#59362b');
height:1%
}

.espresso .nav .nav-item.active,.espresso .nav .nav-item:hover,.espresso .form-wrapper button:hover {
background:#4e332a
}

.sage .nav,.sage .form-wrapper button {
background:-moz-linear-gradient(#a1c09c,#7b9a76);
background:-webkit-linear-gradient(#a1c09c,#7b9a76);
background:-o-linear-gradient(#a1c09c,#7b9a76);
background:-ms-linear-gradient(#a1c09c,#7b9a76);
background:linear-gradient(#a1c09c,#7b9a76);
filter:progid: DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#a1c09c',endColorstr='#7b9a76');
height:1%
}

.sage .nav .nav-item.active,.sage .nav .nav-item:hover,.sage .form-wrapper button:hover {
background:#769d6f
}

.tangerine .nav,.tangerine .form-wrapper button {
background:-moz-linear-gradient(#ff8147,#d95b21);
background:-webkit-linear-gradient(#ff8147,#d95b21);
background:-o-linear-gradient(#ff8147,#d95b21);
background:-ms-linear-gradient(#ff8147,#d95b21);
background:linear-gradient(#ff8147,#d95b21);
filter:progid: DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ff8147',endColorstr='#d95b21');
height:1%
}

.tangerine .nav .nav-item.active,.tangerine .nav .nav-item:hover,.tangerine .form-wrapper button:hover {
background:#f1540c
}

.powder .nav,.powder .form-wrapper button {
background:-moz-linear-gradient(#5cceea,#36a8c4);
background:-webkit-linear-gradient(#5cceea,#36a8c4);
background:-o-linear-gradient(#5cceea,#36a8c4);
background:-ms-linear-gradient(#5cceea,#36a8c4);
background:linear-gradient(#5cceea,#36a8c4);
filter:progid: DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#5cceea',endColorstr='#36a8c4');
height:1%
}

.powder .nav .nav-item.active,.powder .nav .nav-item:hover,.powder .form-wrapper button:hover {
background:#21afd2
}

.grill-brick .nav,.grill-brick .form-wrapper button {
background:-moz-linear-gradient(#797979,#404040);
background:-webkit-linear-gradient(#797979,#404040);
background:-o-linear-gradient(#797979,#404040);
background:-ms-linear-gradient(#797979,#404040);
background:linear-gradient(#797979,#404040);
filter:progid: DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#797979',endColorstr='#404040');
height:1%
}

.grill-brick .nav .nav-item.active,.grill-brick .nav .nav-item:hover,.grill-brick .form-wrapper button:hover {
background:#393939
}

.container#wrapper {
width:auto;
margin:48px auto;
padding:auto
}

.social-icon {
color:#47494D
}

.main {
padding:48px 12px 12px
}

._title {
font-size:27px;
font-weight:500;
margin:0
}

._title.visible-xs {
font-size:27px;
text-align:center
}

._subtitle {
font-size:16px;
margin:36px 0 0
}

._subtitle.visible-xs {
font-size:16px;
text-align:center;
margin-bottom:30px
}

._email-message {
height:200px
}

.nav .nav-item {
padding:5px 0 10px;
border-bottom-width:2px;
border-bottom-style:solid;
border-bottom-color:#F7F7F7
}

.validation-error {
height:15px;
color:red;
margin-bottom:3px
}

.widget-state {
position:relative
}

.hero-image {
position:absolute;
width:100%;
z-index:-1;
max-width:320px;
max-height:600px
}

.hero-image.hidden-xs {
display:none!important
}

.form-wrapper input,.form-wrapper textarea {
width:100%;
padding:4px 8px;
margin-top:10px;
line-height:1.4
}

.form-wrapper button {
border:0;
font-size:18px;
margin-top:10px;
vertical-align:top
}

.form-wrapper button span {
padding:0 80px
}

#footer {
padding-top:9px;
font-size:12px;
text-transform:uppercase;
margin-bottom:12px
}

#footer .col-xs-5,#footer .col-xs-7 {
line-height:29px
}

#footer .col-xs-5 {
padding-left:6px
}

#footer a {
color:inherit;
text-decoration:none
}

#footer img {
vertical-align:-14%;
width:76px
}

#email button {
margin-top:4px
}

#email textarea {
height:200px!important;
margin-top:6px !important;
font-size:16px;
line-height:24px;
color:#47494D
}

#email textarea,#email input {
margin-top:15px
}

#facebook textarea {
margin-top:6px;
height:100px
}

#facebook button {
margin-top:0
}

#facebook .validation-error {
margin-bottom:5px
}

.fb-preview {
margin-top:14px
}

.fb-preview img {
max-width:100%;
max-height:110px
}

.fb-preview p {
margin-bottom:0;
line-height:1.2;
font-size:13px
}

.fb-preview .msg {
padding-left:15px;
padding-top:10px
}

#fb-share-description {
margin-bottom:10px;
overflow:hidden
}

#fb-share-title {
text-align:center
}

#fb-share-caption {
text-align:center
}

.fb-preview .col-xs-12 {
padding-left:0;
text-align:left
}

#twitter textarea {
height:144px
}

.twitter-follow {
width:225px;
margin:12px auto 0
}

#twitter .num {
float:right;
text-align:right;
margin-top:14px
}

#twitter .validation-error {
margin-top:4px
}

#email_capture button {
margin:22px 0 10px
}

#postshare .twitter-follow {
margin:20px auto 40px
}

#shareLink {
display:block;
text-align:left;
font-size:13px;
margin-top:33px
}

#shareLink input {
margin-top:10px;
margin-right:36px;
margin-bottom:18px;
width:230px;
font-size:16px;
height:50px;
padding:0 0 0 15px;
text-align:left;
border:1px solid #c3bcba
}

#shareLink a {
font-size:16px;
white-space:nowrap
}

#shareLink .upper,.upper {
line-height:18px;
margin-top:14px;
margin-right:18px;
display:inline-block
}

.nav .nav-item:hover {
cursor:pointer
}

.editable-button {
padding:5px
}
.steel .form-wrapper button.copy-button {
    background: transparent;
    display: inline;
    border: none;
    height: auto;
    font-size: 16px;
    white-space: nowrap;
    color: #52CCA7;
    vertical-align: middle;
    margin-top: 0;
}
.steel .form-wrapper button.copy-button:hover {
  color: #41A386;
}

@media (min-width: 800px) {
.container#wrapper {
max-width:928px
}

body {
width:auto
}

.header {
padding:20px 30px 0;
height:175px
}

.hero-image {
max-width:800px;
max-height:600px
}

.hero-image.hidden-xs {
display:block!important
}

.main {
padding:50px 30px 30px;
max-width:none
}

.header ._title {
font-size:27px
}

.header ._subtitle {
font-size:16px
}

.nav svg {
display:inline
}

.device-image {
display:block;
margin:65px auto auto -15px
}

#footer {
padding-left:15px;
padding-right:15px;
font-size:13px;
padding-top:3px;
max-width:none
}

#footer .col-xs-5 {
padding-left:15px
}

#email button {
margin-top:6px
}

#email textarea {
height:80px
}

#email textarea,#email input {
margin-top:6px
}

#email .validation-error {
margin-bottom:0
}

#facebook {
margin-top:10px
}

.fb-preview {
max-width:425px
}

.fb-preview img {
max-height:92px
}

.fb-preview .col-sm-5 {
padding-left:0;
text-align:left
}

.fb-preview .msg {
padding-left:0;
padding-right:0;
padding-top:0
}

#fb-share-title {
text-align:left
}

#fb-share-caption {
text-align:left
}

#facebook .validation-error {
margin-bottom:3px
}

#twitter textarea {
height:108px;
margin-top:10px
}

#twitter .num {
padding-right:10px
}

#twitter .validation-error {
margin-top:0
}

#postshare input#fb-thanks-email {
width:285px
}
}